.main-button {
    background-color: rgba($main-color, 0.8);
    color: #ffffff;
    border: none;
    padding: 8px 6px;
    text-align: center;
    min-width: 100px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: $main-color;
    }
}

.btn-toggle {
    background-color: $main-color;
    border: none;
    padding: 8px;
    position: absolute;
    top: 9px;
    right: 2px;
    display: none;
    outline: none;
    @media #{$max-mobile} { 
        display: block; 
    }
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}