$max-mobile: '(max-width: 767px)';
$max-small: '(min-width: 991px)';
$min-small: '(min-width: 768px)';
$min-medium: '(min-width: 992px)';
$min-large: '(min-width: 1200px)';

$main-color: #e2494c;
$second-color: #e2e2e2;
$black-color: #353535;
$text-color: #747474;

$float-right: right;
$float-left: left;
$text-right: right;
$text-left: left;