$max-mobile: 767px;
$max-small: 991px;
$min-small: 768px;

$main-color: #e2494c;
$second-color: #e2e2e2;
$black-color: #353535;
$text-color: #747474;

$float-right: right;
$float-left: left;
$text-right: right;
$text-left: left;