/* Footer Section */
.footer {
    background-color: $second-color;
    overflow: hidden;
    padding-top: 30px;
    margin-top: 50px;
    .gallery, .details, .contact {
        float: $float-left;
        .img-box {
            overflow: hidden;
            margin-bottom: 25px;
            img {
                @media #{$min-small} {
                    float: $float-left;
                    margin-left: 2px;
                    margin-bottom: 2px;
                }
                margin-top: 2px;
                width: 130px;
                height: 130px;
                border: 5px solid $second-color;
                box-shadow: 0px 0px 1px 1px $text-color;
            }
            .para {
                @media #{$min-small} {
                    float: $float-left;
                    margin-right: 15px;
                    margin-left: 15px;
                    width: calc( 100% - 180px);
                }
                h4 {
                    color: $main-color;
                    margin: 20px 0px 5px;
                }
                p {
                    margin-top: 10px;
                    color: $text-color;
                    line-height: 1.5;
                }
            }
        }
    }
    .gallery {
        // width: 50%;
        @media #{$min-small} {
            width: 100%;
        }
        @media #{$min-medium} {
            width: 50%;
        }
    }
    .details {
        // width: 25%;
        @media #{$max-mobile} {
            width: 100%;
        }
        @media #{$min-small} {
            width: 50%;
        }
        @media #{$min-medium} {
            width: 25%;
        }
        li, p {
            color: $text-color;
            line-height: 1.4;
        }
        li {
            .email {
                color: $main-color;
            }
        }
        .hours {
            color: $text-color;
            margin-bottom: 0px;
        }
        p {
            margin-top: 3px;
        }
    }
    .contact {
        // width: 25%;
        @media #{$min-small} {
            width: 50%;
        }
        @media #{$min-medium} {
            width: 25%;
        }
        input[type=text],
        input[type=email],
        textarea {
            border: 2px solid #fff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 7px;
            width: 100%;
            &:focus {
                border: 2px solid $main-color;
                outline: none;
            }
        }
        textarea {
            height: 140px;
        }
    }
    .footer-title {
        color: #262626;
        font-weight: lighter;
    }
    .copyright {
        padding: 25px 0px;
        border-top: 1px solid #c7c4c4;
        overflow: hidden;
        margin-top: 30px;
        .developer, .designer {
            float: $float-left;
            color: $text-color;
            width: 50%;
            @media #{$max-mobile} {
                width: (100%);
                float: none;
            }
        }
        .designer {
            text-align: $text-right;
            @media #{$max-mobile} {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}
/* Footer End */
