* {
    box-sizing: border-box;
    // @include prefixer(box-sizing, border-box, webkit moz);
}
.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    user-select: none;
    @media #{$min-small}
    {
        width: 768px;
    }
    @media #{$min-medium}
    {
        width: 992px;
    }
    @media #{$min-large}
    {
        width: 1200px;
    }
}

.clearfix {
    clear: both;
}

.text-center-xs {
    @media #{$max-mobile} {
        text-align: center;
    }
}