.header {
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid $second-color;
    .logo{
        width: 30%;
        float: $float-left;
        color: #504d4d;
        h1 {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 40px;
        }
        p {

        }
    }
    .navbar{
        width: 70%;
        float: $float-left;
        background-color: $main-color;
        border-radius: 15px;
        li {
            width: 20%;
            float: $float-left;
            font-size: 20px;
            text-align: center;
            a {
                display: block;
                padding: 20px 10px;
                text-decoration: none;
                color: #eee;
                &:hover {
                    color: rgba(rgb(253, 216, 216),0.7);
                }
            }
        }
    }
}