.header {
    padding: 20px 0px;
    overflow: hidden;
    border-bottom: 1px solid $second-color;
    .logo{
        position: relative;
        color: #504d4d;
        @media #{$min-small} {
            width: 100%;
            float: none;
            text-align: center;
        }
        @media #{$min-medium} {
            width: 30%;
            float: $float-left;
            text-align: $text-left;
        }
        h1 {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 40px;
        }
        p {
            margin-top: 10px;
        }
        @media #{$max-mobile} {
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 10px;
                margin-top: 8px;
            }
        }
    }
    .navbar{
        overflow: hidden;
        width: 70%;
        float: $float-left;
        background-color: $main-color;
        border-radius: 15px;
        @media #{$min-small} {
            width: 100%;
            float: none;
            margin-top: 30px;
        }
        @media #{$min-medium} {
            width: 70%;
            float: $float-left;
            text-align: $text-left;
            margin-top: 16px;
        }
        @media #{$max-mobile} {
            width: 100%;
            display: none;
            border-radius: 0;
        }
        li {
            width: 20%;
            float: $float-left;
            font-size: 20px;
            text-align: center;
            @media #{$max-mobile} { 
                display: block; 
                float: none;
                width: 100%;
            }
            a {
                display: block;
                padding: 20px 10px;
                text-decoration: none;
                color: #eee;
                &:hover {
                    color: rgba(rgb(253, 216, 216),0.7);
                }
            }
        }
    }
}