.header {
    .logo{
        width: 30%;
        float: left;
        h1 {

        }
        p {

        }
    }
    .navbar{
        width: 70%;
        float: left;
        li {

        }
    }
}