/* Start Slider */
.slider {
    blockquote {
        font: {
            size: 22px;
            style: italic;
            weight: bold;
            family: fangsong;
        }
        line-height: 1.7;
        text-align: center;
        color: $black-color;
        width: 70%;
        margin: 30px auto;
    }
    img {
        min-width: 100%;
        max-width: 100%;
    }
    .bullets {
        text-align: center;
        li {
            // to take page direction
            display: inline-block;
            cursor: pointer;
            width: 12px;
            height: 12px;
            background-color: $second-color;
            border-radius: 50%;
            border: 3px solid $second-color;
            &.active,
            &:hover {
                border: 2.5px solid $black-color;
                background-color: #f6f6f6;
            }
        }
    }
}
/* End Slider */
/* Start Services */
.service {
    .services-para {
        float: $float-left;
        width: (94% / 3);
        &:not(:last-of-type) {
            margin-right: 3%;
        }
        @media #{$max-mobile} {
            width: 100%;
            float: none;
        }
        .serv-title {
            color: $black-color;
            img {
                position: relative;
                top: 8px;
                padding-right: 16px;

                @media #{$max-mobile} {
                    display: block;
                    margin-bottom: 19px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: 0;
                }
            }

        }
        .serv-para {
            color: #747474;
            line-height: 1.5;
        }
        .serv-link {
            color: $main-color;
            text-decoration: none;
        }
    }
}
/* End Services */
/* Start Team */
.team {
    .team-para {
        margin-bottom: 30px;
        @media #{$min-small} {
            float: $float-left;
            width: (100% / 2);
            text-align: center;
            margin-bottom: 30px;
            &:not(:last-of-type) {
                margin-right: 0;
            }
            &:last-of-type {
                left:50%;
                transform:translateX(50%);
            }
        }
        @media #{$min-medium} {
            width: (94% / 3);
            text-align: $text-left;
            &:not(:last-of-type) {
                margin-right: 3%;
            }
            &:last-of-type {
                
                left:0%;
                transform:translateX(0%);
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        @media #{$min-large} {
            margin-bottom: 0;
            width: (88% / 5);
            &:nth-child(4n) {
                margin-right: 3%;
            }
        }
        img {
            max-width: 100%;
        }
        .team-title {
            color: #747474;
            font-weight: lighter;
            span {
                font-weight: bold;
            }
        }
        .team-desc {
            color: #747474;
            line-height: 1.5;
        }
        .team-link {
            color: $main-color;
            text-decoration: none;
        }
    }
}
/* End Team */
/* Start Lorem */
.lorem {
    .lorem-para {
        float: $float-left;
        width: (96% / 3);
        &:not(:last-of-type) {
            margin-right: 2%;
        }
        img {
            max-width: 100%;
        }
    }
}
/* End Lorem */