/* Start Slider */
.slider {
    blockquote {
        font: {
            size: 22px;
            style: italic;
            weight: bold;
            family: fangsong;
        }
        line-height: 1.7;
        text-align: center;
        color: rgb(58, 58, 58);
        width: 70%;
        margin: 30px auto;
    }
    img {
        min-width: 100%;
        max-width: 100%;
    }
    .bullets {
        text-align: center;
        li {
            // to take page direction
            display: inline-block;
            cursor: pointer;
            width: 12px;
            height: 12px;
            background-color: $second-color;
            border-radius: 50%;
            border: 3px solid $second-color;
            &.active,
            &:hover {
                border: 3px solid rgb(58, 58, 58);
                background-color: #f6f6f6;
            }
        }
    }
}
/* End Slider */