/* Start Slider */
.slider {
    blockquote {
        font: {
            size: 22px;
            style: italic;
            weight: bold;
            family: fangsong;
        }
        line-height: 1.7;
        text-align: center;
        color: $black-color;
        width: 70%;
        margin: 30px auto;
    }
    img {
        min-width: 100%;
        max-width: 100%;
    }
    .bullets {
        text-align: center;
        li {
            // to take page direction
            display: inline-block;
            cursor: pointer;
            width: 12px;
            height: 12px;
            background-color: $second-color;
            border-radius: 50%;
            border: 3px solid $second-color;
            &.active,
            &:hover {
                border: 3px solid $black-color;
                background-color: #f6f6f6;
            }
        }
    }
}
/* End Slider */
/* Start Services */
.service {
    .services-para {
        float: $float-left;
        width: (100% / 3);
        &:not(:last-child) {
            padding-right: 20px;
        }
        .serv-title {
            color: $black-color;
            img {
                position: relative;
                top: 8px;
                padding-right: 16px;
            }

        }
        .serv-para {
            color: #747474;
            line-height: 1.5;
        }
        .serv-link {
            color: $main-color;
            text-decoration: none;
        }
    }
}
/* End Services */